
table,tr,td{
  border: solid black;
  border-collapse: collapse;
}
.a{
color:orchid;
background-color: lightgray;
}
.b{
color: black;

}
.c{
color: violet;
}
.d{
color: chartreuse;
}
.e{
color:gray;
}
.f{
color:yellow;
}
#g{
color: darkmagenta;
}
.I{
  color: slateblue;
  }
  .J{
    color: plum;
    }
    .K{
      color: yellowgreen;
      }
.s{
  margin-left: 100px;
  font-size: 25px;
  color: rgb(0, 0, 255);
  background-color: lightgrey;

}
.ed{
  color:black;
  background-color:gray;
  margin-left: 100px;
}
#ex{
  color:red;
  background-color: lightblue;
}
.ac{
  color:cyan;
  background-color: brown;
}
.sk{
  color:aquamarine;
  background-color: hotpink;
}
.aw{
  color:black;
  background-color:blanchedalmond
}
.h{
  color:chartreuse;
 background-color: dodgerblue;
}
